.*
/testenvironment.properties
/bin
/build
/dist
/ivyCache
/google.properties
/debug
/*.launch
/ssh.configuration
/findbugsReport.html
/lib
/lombok.iml
*.markdown.html
/junit*.properties
/eclipse.location
/out
/website/lombokSupporters
